* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

ul,
li {
    list-style: none;
}


main {
    background-color: #292929;
    /* min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    /* width: 450px;
    height: 50%; */
    /* background-color: #3a3a3aaf; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.main-form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form-form-title {
    /* display: block; */
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    /* text-align: center; */
}

.main-form-ul {
    display: flex;
    flex-direction: column;
}

.main-form-item {
    padding: 10px 0;
}

    .main-form-item label .main-form-item-title {
        display: block;
        color: rgb(187, 187, 187);
        font-weight: 400 !important;
        font-size: 16px;
    }

    .main-form-item label input {
        background-color: #303436 !important;
        border: none;
        padding: 12px;
        border-radius: 5px;
        margin: 5px 0;
        width: 100%;
        color: #fff;
        font-size: 16px;
        outline: none;
    }

        .main-form-item label input:focus {
            outline: 2px solid rgb(255, 255, 255);
        }

        .main-form-item label input::placeholder {
            font-size: 14px !important;
            font-weight: 400;
        }

.main-form-item-btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* .main-form-item-btns-el{
    background-color: #432443;
} */
.btn {
    display: block;
    background-color: inherit;
    border: none;
    color: black;
    padding: 10px 0;
    width: 190px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 200ms;
}

.btn-reg {
    background-color: #fff;
}

.btn:hover {
    opacity: 80%;
}

.btn:active {
    opacity: 70%;
}

.btn:focus {
    border: none;
    outline: 2px solid #fff;
}

.wrong {
    color: red !important
}

.right {
    color: green !important
}
