@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Home Page</h2>
<button>
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Index</a>
</button>
<form asp-controller="Home" asp-action="Rename" method="post">
    <div>
        <label for="NewLogin">New Login</label>
        <input type="text" id="NewLogin" name="NewLogin" required />
        <button type="submit">Rename Login</button>
    </div>
</form>

<form asp-controller="Home" asp-action="ChangePassword" method="post">
    <div>
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" required />
        <button type="submit">Change Password</button>
    </div>
</form>

<p>Hello !!!</p>


